__pycache__
.cache
.pytest_cache
.DS_Store
geckodriver.log
node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front_end/node_modules
/front_end/.pnp
/front_end.pnp.js

# testing
/coverage
/front_end/coverage

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

/front_end/npm-debug.log*
/front_end/yarn-debug.log*
/front_end/yarn-error.log*

# production
/front_end/build
