__pycache__
.cache
.pytest_cache
.DS_Store
geckodriver.log
node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/node_modules
/src/.pnp
/src.pnp.js

# testing
/coverage
/src/coverage
.coverage

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

/src/npm-debug.log*
/src/yarn-debug.log*
/src/yarn-error.log*
/yarn.lock

# production
/build
